:root {
    --bold-font: "IM Fell DW Pica SC", serif;
    --normal-font: "GFS Didot", serif;
    --light-brown: rgba(255, 255, 242, 0.5);
    --dark-brown: rgb(131, 118, 90);
    --white: white;
    --creme: #fefef2;
    --pink: #eed5b6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: var(--normal-font);
    color: var(--dark-brown);
}

/* Start: Top Nav */
li {
    list-style: none;
}

nav > ul > li > a, footer > ul > li > a {
    color: var(--dark-brown);
    text-decoration: none;
    border-bottom: 6px solid transparent;
    transition: all 0.5s ease;
}

nav > ul > li > a:hover, nav > ul > li > a:active {
    color: var(--dark-brown);
    border-bottom: 2px solid var(--dark-brown);
}

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: var(--white); */
    background-color: rgba(255, 255, 255, 0.6); /* Frosted Glass */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

@media (max-width: 1200px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  width: 60vw;
}
@media (max-width: 1300px) {
  .logo {
    width: 50vw;
  }
}
@media (max-width: 1200px) {
  .logo {
    margin-top: 15px;
    width: 50vw;
    position: relative;
    text-align: center;
  }
}

@media (max-width: 1200px) {
    nav {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 10rem;
    }
    nav li {
        padding-bottom: 5px;
    }
}

nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    letter-spacing: 0.15em;
}
@media (max-width: 1300px) {
    nav > ul {
        width: 40vw;
    }
}
@media (max-width: 1050px) {
    nav > ul {
        flex-direction: column;
    }
}
/* End: Top Nav */

/* Start: Top Images */
#hero {
    text-align: center;
}
#hero > h1 {
    margin-bottom: 20px;
}
.us {
    max-width: 40%;
    margin: 150px 0 25px;
}
.albumCover {
    max-width: 50%;
    margin-bottom: 50px;
}

@media (max-width: 700px) {
    #hero {
        margin: 200px 0 50px;
    }
    .us {
        max-width: 70%;
    }
    .albumCover {
        max-width: 90%;
    }
    .us, .albumCover {
        margin: 10px 0 25px;
    }
}
/* End: Top Images */

/* Start: Get Centered  */
#Story, #ToDo, #Itinerary, #Registry, #RSVP {
    text-align: center;
}
.small, .medium, .large {
    letter-spacing: 2px;
    text-align: center;
}
.small {
    font-size: 14px;
}
.medium {
    font-size: 34px;
}
.large {
    font-size: 50px;
}
/* End: h1 Sizes */

/* Start: Buttons */
button, .btn, td > button:hover {
    padding: 10px;
    font-size: 14px;
    width: 150px;
    font-family: var(--bold-font);
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    color: var(--white);
    background: var(--dark-brown);
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

button > a {
    color: inherit;
    text-decoration: none;
}

button:hover, .btn:hover {
    color: var(--dark-brown);
    background: transparent;
    text-decoration: underline;
}
/* End: Buttons */

/* Start: Story */
#Story {
    margin-top: 50px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

@media (max-width: 1200px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}
@media (max-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}

/* > Story Images */
.patch, .campTee, .digiDownload {
    margin: 10px;
    width: 350px;
    height: 350px;
    display: inline-block;
}
/* End: Story */

/* Start: ToDo */
#ToDo > h1 {
    margin: 50px 0 10px;
}
table {
    border-collapse: collapse;
    width: 70%;
    margin-bottom: 20px;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
tr {
    text-align: left;
}
tr:hover {
    background-color: #eeeeee;
}
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}
td > button:hover, .nonclick:hover {
    text-decoration: none;
    cursor: auto;
}
/* End: ToDo */

/* Start: Itinerary */
#Itinerary > h1 {
    margin: 50px 0 20px;
}
.listen {
    margin-bottom: 10px;
}
.listen > a {
    color: var(--dark-brown);
    text-decoration: none;
    font-size: xx-large;
    font-family: var(--normal-font);
    border-bottom: 6px solid transparent;
    transition: all 0.5s ease;
}
.listen > a:hover, .listen > span:hover  {
    border-bottom: 2px solid var(--dark-brown);
}
/* End: Itinerary */

/* Start: Registry */
#Registry > h1 {
    margin: 50px 0 20px;
}
#form {
    margin: 20px;
}
#email {
    font-family: var(--normal-font);
    font-size: larger;
    width: 300px;
    border: none;
    border-bottom: 2px solid var(--dark-brown);
}
/* End: Registry */

/* Start: RSVP */
#RSVP {
    margin: 50px 0 50px;
}
#RSVP > h1 {
    margin-bottom: 20px;
}
/* End: RSVP*/

/* Start: Footer */
footer {
    padding: 20px;
    background-color: var(--dark-brown);
}

footer > ul {
    display: flex;
    justify-content: flex-end;
}

footer > ul > li {
    padding: 0 10px;
}

footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: var(--creme);
    font-size: small;
}

.foot-link {
  color: var(--creme);
}
.foot-link:hover {
  color: var(--light-brown);
}

@media (max-width: 700px) {
  footer {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 50px;
  }
  footer > ul {
    flex-direction: column;
    line-height: 25px;
  }
}
/* End: Footer */

/* Extras */
b {
    font-family: cursive;
}